<div>
<h1>Lista de productos sin Socket Server</h1>

    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    Title: {{this.title}} <br>
                    Descripción: {{this.description}} <br>
                    Category: {{this.category}} <br>
                    Status: {{this.status}}
                    Price: {{this.price}} <br>
                    Stock: {{this.stock}} <br>
                </li> <br>
            {{/each}}
        </ul>
    {{else}}
        <p>No products availible.</p>
    {{/if}}
</div>