<h1>Lista de Productos</h1>

<table id="tableProd">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Thumbnail</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th> <!-- Nueva columna para acciones -->
            <th>ID</th>

        </tr>
    </thead>
    <tbody id="productList">
        {{#each products}}
            <tr class="fila">
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>{{this.thumbnail}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this.status}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td><button onclick="eliminarProducto('{{this.id}}')">Eliminar</button></td>
                <td>{{this.id}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<form id="addProductForm" action="#" method="post">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" ><br>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" ><br>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code" ><br>

    <label for="thumbnail">Thumbnail:</label>
    <input type="text" id="thumbnail" name="thumbnail" ><br>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" ><br>

    <label for="status">Estado:</label>
    <select id="status" name="status" >
        <option value="true">True</option>
        <option value="false">False</option>
    </select><br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" ><br>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" ><br>

    <label for="idToEdit">En caso de querer editar un producto, especifique su ID:</label>
    <select id="idToEditList" name="idToEdit">
        <option value="none">Ninguno</option>
        {{#each products}}
            <option value="{{this.id}}">{{this.id}}</option>
        {{/each}}
    </select><br>

    <button type="button" onclick="enviarProducto()">Enviar</button>
  </form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>